.header {
  height: 120px;
  background: $pace-white;

  @media screen and (min-width: 404px) {
    height: 80px;
  }

  .brand-name {
    color: $pace-turquoise;
    margin-left: 20px;
  }

  .pace-logo {
    text-transform: uppercase;
    color: $pace-grey;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;

    li {
      list-style: none;
      margin: auto 10px;
    }

    .nav {
      display: none;

      @include breakpoint(large) {
        display: block;
      }
    }

    .burger {
      display: block;

      @media screen and (max-width: 395px) {
        position: absolute;
        top: 50px;
        right: 60px;
      }

      @include breakpoint(large) {
        display: none;
      }
    }

    a {
      text-decoration: none;
      color: $pace-dark-blue;
    }
  }

  .search-container {
    @media screen and (max-width: 395px) {
      position: absolute;
      top: 50px;
      right: 20px;
    }

    &:hover {
      cursor: pointer;
    }

    .search {
      display: none;
    }
  }
}