$pace-green: #c5e86c;
$pace-turquoise: #00505C;
$pace-blue: #0f467c;
$pace-dark-blue: #425565;
$pace-grey: #55524e;
$pace-light-grey: #dddddd;
$pace-white: #fff;


body {
  background: $pace-light-grey;
  font-family: "DIN Alternate", "Arial Narrow", sans-serif;
  color: $pace-grey;
}
